body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

a {
    color: #00B7FF
}

.main-title {
    margin-left: 20px;
    margin-bottom: 60px;
}

.note {
    position: relative;
    top: 15px;
}

.note div {
    max-height: 1em;
    min-width: 70%;
}

.note div p {
    white-space: nowrap;
    overflow: hidden;
}

.icon {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 5px;
    cursor: pointer;
    bottom: 20px;
    position: relative;
}

.menu-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.login {
    margin: auto;
    border: 2px solid lightblue;
    padding: 56px;
    border-radius: 5px;
    background-color: #777777;
    margin-top: 15px;
    width: 50%;
}

.right-align {
    float: right;
}

textarea {
    margin-top: 20px;
    width: 100%;
    border-color: #bfb99f;
    background-color: lightgoldenrodyellow;
    border-radius: 15px;
    font-size: 18px;
    font-family: serif;
}

.err-msg {
    color: red;
}

.horizontal-collapse {
    height: 70px;
}

.navbar-collapse.in {
    overflow-y: hidden;
}